:root {
  --bg-color: #050a08;        /* очень темный лесной */
  --card-bg: #0f1a16;        /* цвет хвои */
  --accent-ice: #a8dadc;     /* лед для контраста */
  --nordic-green: #2d6a4f;   /* акцентный зеленый */
}


body {
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}

.main-title {
  color: var(--accent-ice);
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.5rem;
}

.subtitle {
  text-align: center;
  color: var(--text-muted);
  font-style: italic;
  margin-bottom: 50px;
}

/* Карточки */
.song-card {
  background: var(--card-bg);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid rgba(168, 218, 220, 0.1);
}

.song-card:hover {
  transform: translateY(-5px);
  background: #1d2524;
  border-color: var(--accent-ice);
}

.card-title { margin: 0; font-size: 1.4rem; }
.card-artist { margin: 10px 0 0 0; color: var(--text-muted); }

/* Плеер и Текст */
.btn-back {
  background: none;
  border: 1px solid var(--accent-ice);
  color: var(--accent-ice);
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.player-container {
  background: #1d2524;
  padding: 20px;
  border-radius: 15px;
  margin: 30px 0;
}

.audio-player { width: 100%; filter: invert(10%) hue-rotate(150deg); }

.lyrics-box {
  background: rgba(255,255,255,0.03);
  padding: 30px;
  border-radius: 10px;
  line-height: 1.8;
}

.audio-badge {
  display: block;
  margin-top: 15px;
  color: #4ade80;
  font-size: 0.85rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(15, 26, 22, 0.8);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(168, 218, 220, 0.1);
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--accent-ice);
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  background: transparent;
  border: 1px solid var(--accent-ice);
  color: var(--accent-ice);
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: var(--accent-ice);
  color: var(--bg-color);
}

.burger-menu {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--accent-ice);
}
